.header {
  background-color: var(--color-primary); /* ✅ ta barre orange */
  display: flex;
  justify-content: space-between; /* logo à gauche, nav à droite */
  align-items: center;
  padding: 10px 20px;
}

/* LOGO à gauche */
.logo {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: white;
  margin: 0;
}

/* NAVIGATION à droite */
.affichage-navigation {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.affichage-navigation li {
  display: flex;
  align-items: center;
}

/* Liens */
.affichage-navigation a {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  color: white;
  text-decoration: none;
}

.affichage-navigation a:hover {
  color: var(--color-info); /* bleu clair au hover */
}

/* Bouton déconnexion */
.bouton {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  padding: 6px 14px;
  border: none;
  border-radius: 6px;
  background: var(--color-warning);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}
