.header {
  background-color: var(--color-panel);
  padding: 10px 20px;
  text-align: center;
}

/* La nav est en ligne */
.nav {
  display: flex; /* aligne en ligne */
  gap: 20px; /* espace entre boutons */
  justify-content: center; /* centre horizontalement */
  align-items: center; /* aligne verticalement */
}

/* Style des boutons de nav */

.nav-btn {
  font-family: "Oswald", sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: var(--color-text);
  letter-spacing: 2px;
  font-weight: 600;
}

.nav-btn:hover {
  background-color: var(--color-primary);
}
